.array-container {
    display: flex;
    justify-content: center;

    /* top: 100px; */
}

.array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.button1 {
background-color: #4CAF50;
border-radius: 12px;
margin: 5px;
border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
cursor: pointer;
}
.button2 {
background-color: #008CBA;
border-radius: 12px;
margin: 5px;
border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button3 {
background-color: #f44336;
border-radius: 12px;
margin: 5px;
border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
cursor: pointer;
}
.button4 {
background-color: rgba(223, 223, 0, 0.698);
border-radius: 12px;
margin: 5px;
border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
cursor: pointer;
}
.button5 {
background-color: #733C3C;
border-radius: 12px;
margin: 5px;
border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
cursor: pointer;
}
.button6 {
background-color: purple;
border-radius: 12px;
margin: 5px;
border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
cursor: pointer;
}